.fondo_support {
    background: $light;
}

.fondo_support {
    background-image: url(../img/imagenes-quienessomos/fondo-card.jpeg);
background-repeat: repeat;
background-size: 1460px 820px;
    &_titulo { text-align: center;
        margin: 20px;
}
}
.main_support_ayuda h2{
     text-align:center;
     margin: 20px;
    
}
.main_ayuda{
    text-align: center;
}
.main_ayuda_recomendadas{
    
    text-align:justify;
    padding: 20px;
p {
    text-align: justify;
}
a {
    display: flex;
    justify-content: row;
    text-align: center;

}
}

.main_ayuda_rapida{
    
    text-align:justify;
    padding: 20px;
p {
    text-align: justify;
}
a {
    display: flex;
    justify-content: row;
    text-align: center;

}
}
.main_support {
    text-align: center;
    padding-top: 30px;
    margin-bottom: 10px;
    color: $dark;
}

.main_support_form {
    h2 {
        display: flex;
        justify-content: center;
}
    p {
        display: flex;
        justify-content: center;
        margin: 30px;
    }

    a {
        font-size: 17px;
        display: flex;
        justify-content: center;
        text-decoration: none;

        margin-bottom: 16px;
        color: $danger;
        font-weight: 700;
    }

    a i {
        color: $success;
        margin-right: 10px;
    }


}

.mapa {
    width: 250px;
    height: 250px;
    
    
}
.formulario {
    text-align: center;
    margin: 10px;
    

}

.formulario_contactos{
display: flex;
justify-content: center;
}


.campo_textarea{
    text-align: center;

}

@media (min-width:768px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

.fondo_support {
    background-image: url(../img/imagenes-quienessomos/fondo-card.jpeg);
background-repeat: repeat;
background-size: 1460px 820px;
    &_titulo { text-align: center;
        margin: 20px;
}
}
.main_support_ayuda h2{
     text-align:center;
     margin: 20px;
    
}
.main_ayuda{
    display: flex;
    justify-content:space-around;
    text-align: center;
}
.main_ayuda_recomendadas{
    text-align:justify;
p {
    text-align: justify;
}
a {
    display: flex;
    justify-content: row;
    text-align: center;

}
}

.main_ayuda_rapida{
    text-align:justify;
p {
    text-align: justify;
}
a {
    display: flex;
    justify-content: row;
    text-align: center;

}
}
.main_support {
    padding-top: 30px;
    margin-bottom: 10px;
    color: $dark;
}
.main_support_form {
    h2 {
        display: flex;
        justify-content: center;
}
    p {
        display: flex;
        justify-content: center;
        margin-left: 15px;
    }

    a {
        font-size: 17px;
        display: flex;
        justify-content: center;
        text-decoration: none;

        margin-bottom: 16px;
        color: $danger;
        font-weight: 700;
    }

    a i {
        color: $success;
        margin-right: 10px;
    }


}

.mapa {
    width: 490px;
    height: 250px;
    
    
    
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    

}



.main_support_form form .campo,
textarea {

    padding: 15px 10px;
    font-size: 15px;
    border: 1px solid $dark;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 10px;
}

.btn1 {
    padding: 15px;
    margin: 20px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: $danger;
    color: $light;
    border-radius: 3px;
    cursor: pointer;
    transition: all;
}
}