.main_website {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: "Arial Narrow Bold", sans-serif;
    background-image: url(../img/imagenes-index/fondo-index.webp);
    background-repeat: no-repeat;
    background-size: 1460px 820px;
    color: #3e444a;

    &_title {
        font-size: 70px;
    }

    &_description {
        font-size: 30px;
        width: 70%;
    }
}

.Description_web_pag2 {
    background-color: #aec0d0;
    height: 37.5em;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    height: 800px;

    &_texto {
        box-shadow: -5px -4px 5px 0px rgba(0, 0, 0, 0.75);
        font-size: 20px;
        background: #8a90a0;
        background: linear-gradient(180deg, #823d1e7c 29%, rgba(255, 255, 255, 1) 58%);
        padding: 10px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 30px;
    }
}

.Main_productos {
    width: 350px;
    justify-self: center;
    animation-name: slow;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 10s;
    opacity: 1;
    &_imagen {
width: 350px;
height: 350px;
    }
}

@keyframes slow {

    0%,
    100% {
        transform: translate(-25px, -25px);
    }

    25% {
        transform: translate(25px, -25px);
    }

    50% {
        transform: translate(25px, 25px);
    }

    75% {
        transform: translate(-25px, 25px);
    }
}


@media (min-width:768px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .main_website {
        width: 100%;
        height: 600px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-family: "Arial Narrow Bold", sans-serif;
        background-image: url(../img/imagenes-index/fondo-index.webp);
        background-repeat: no-repeat;
        background-size: 1460px 820px;
        color: #6f534f;

        &_title {
            font-size: 70px;
        }

        &_description {
            font-size: 30px;
            width: 70%;
        }
    }



    .Description_web_pag2 {
        width: 100%;
        max-width: 75em;
        height: 37.5em;
        background-color: white;
        color: black;
        display: flex;
        justify-content: center;
        margin-left: 20px;

        &_texto {
            box-shadow: -5px -4px 5px 0px rgba(0, 0, 0, 0.75);
            font-size: 20px;
            background: #8a90a0;
            background: linear-gradient(180deg, #4b7fb7 29%, rgba(255, 255, 255, 1) 58%);
            padding: 10px;
            margin-left: 10px;
            margin-right: 10px;
        }
    }

    .Main_productos_conteiner {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: 300px;
        grid-auto-columns: 1fr;
        grid-auto-rows: 1fr;
        gap: 20px 20px;
        grid-auto-flow: row;
        justify-content: space-between;
        justify-items: start;
        align-items: center;
        margin-top: 6.25em;
        grid-template-areas: "texto video";

    }

    .Main_productos {
        width: 20em;
        justify-self: center;
        animation-name: slow;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        animation-duration: 10s;
        opacity: 1;
        margin-top: 30px;
    }

    @keyframes slow {

        0%,
        100% {
            transform: translate(-25px, -25px);
        }

        25% {
            transform: translate(25px, -25px);
        }

        50% {
            transform: translate(25px, 25px);
        }

        75% {
            transform: translate(-25px, 25px);
        }
    }
}