/* PAGINA VELAS */
.fondo_velas {
    background-color: $light;
    
}

.imagen_encabezado_velas {
display: flex;
justify-content: center;
padding: 40px;
}

.velas_titulo {
    font-size: 50px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color:$dark ;
}

.contenedor_velas {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;

    h3 {
        display: flex;
        justify-content: center;
        color: #0a141d;
        font-size: 20px;
        margin: 10px;
    }

    p {
        display: flex;
        justify-content: space-around;
        color: #0a141d;
        font-size: 18px;
        padding: 5px;
    }

    &_caracola {
        background-color: #49443c;
        margin: 10px;
        &:hover {
            transform: scale(1.2);
            background-color: #93a08a;
            border-radius: 30px;
            transition: all 2s;
        }
    }

    &_bubble {
        background-color: #49443c;
        margin: 10px;
        &:hover {
            transform: scale(1.2);
            background-color: #93a08a;
            border-radius: 30px;
            transition: all 2s;
        }
    }

    &_minimal {
        background-color: #49443c;
        margin: 10px;
        &:hover {
            transform: scale(1.2);
            background-color: #93a08a;
            border-radius: 30px;
            transition: all 2s;
        }

    }

}

.contenedor_velas2 {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;

    h3 {
        display: flex;
        justify-content: center;
        color: #0a141d;
        font-size: 20px;
        margin: 10px;

    }

    p {
        display: flex;
        justify-content: space-around;
        color: #0a141d;
        font-size: 18px;
        padding: 5px;

    }
    &_bajodelmar {
        background-color: #49443c;
        margin-top: 10px;
        &:hover {
            transform: scale(1.2);
            background-color: #93a08a;
            border-radius: 30px;
            transition: all 2s;
        }
    }

    &_budha {
        background-color: #49443c;
        margin: 10px;
        margin-top: 20px;
        margin-left: 15px;
        &:hover {
            transform: scale(1.2);
            background-color: #93a08a;
            border-radius: 30px;
            transition: all 2s;
        }
    }

    &_glaciar {
        background-color: #49443c;
        margin: 10px;
        &:hover {
            transform: scale(1.2);
            background-color: #93a08a;
            border-radius: 30px;
            transition: all 2s;
        }
    }
}

.contenedor_velas3 {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;

    h3 {
        display: flex;
        justify-content: center;
        color: #0a141d;
        font-size: 20px;
        margin: 10px;

    }

    p {
        display: flex;
        justify-content: space-around;
        color: #0a141d;
        font-size: 18px;
        padding: 5px;
    }
    &_huevo {
        background-color: #49443c;
        margin: 10px;
        &:hover {
            transform: scale(1.2);
            background-color: #93a08a;
            border-radius: 30px;
            transition: all 2s;
        }
    }
    &_madera {
        background-color: #49443c;
        margin: 10px;
        &:hover {
            transform: scale(1.2);
            background-color: #93a08a;
            border-radius: 30px;
            transition: all 2s;
        }
    }
    &_elefante {
        background-color: #49443c;
        margin: 10px;
        &:hover {
            transform: scale(1.2);
            background-color: #93a08a;
            border-radius: 30px;
            transition: all 2s;
        }
    }
}


.pagination {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding-bottom: 20px;
}

@media (min-width:768px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

.fondo_velas {
    background-color:$light ;
    
}

.imagen_encabezado_velas{
    display: flex;
    justify-content: center;
    .img-fluid{
        width: 1200px;
        height: 130px;
}
}

.velas_titulo {
    display: flex;
    justify-content: start;
    font-size: 50px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin-left: 85px;
}

.contenedor_velas {
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;

    h3 {
        display: flex;
        justify-content: center;
        color: #0a141d;
        font-size: 20px;
        margin: 10px;
    }

    p {
        display: flex;
        justify-content: space-around;
        color: $dark;
        font-size: 18px;
        padding: 5px;
    }

    &_caracola {
        background-color: #49443c;
        margin: 10px;
        &:hover {
            transform: scale(1.2);
            background-color: #93a08a;
            border-radius: 30px;
            transition: all 2s;
        }
    }

    &_bubble {
        background-color: #49443c;
        margin: 10px;
        &:hover {
            transform: scale(1.2);
            background-color: #93a08a;
            border-radius: 30px;
            transition: all 2s;
        }
    }

    &_minimal {
        background-color: #49443c;
        margin: 10px;
        &:hover {
            transform: scale(1.2);
            background-color: #93a08a;
            border-radius: 30px;
            transition: all 2s;
        }

    }

}

.contenedor_velas2 {
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    margin-left: 10px;

    h3 {
        display: flex;
        justify-content: center;
        color: #0a141d;
        font-size: 20px;
        margin: 10px;

    }

    p {
        display: flex;
        justify-content: space-around;
        color: $dark;
        font-size: 18px;
        padding: 5px;

    }
    &_bajodelmar {
        background-color: #49443c;
        margin-top: 10px;
        &:hover {
            transform: scale(1.2);
            background-color: #93a08a;
            border-radius: 30px;
            transition: all 2s;
        }
    }

    &_budha {
        background-color: #49443c;
        margin: 10px;
        margin-top: 20px;
        margin-left: 15px;
        &:hover {
            transform: scale(1.2);
            background-color: #93a08a;
            border-radius: 30px;
            transition: all 2s;
        }
    }

    &_glaciar {
        background-color: #49443c;
        margin: 10px;
        &:hover {
            transform: scale(1.2);
            background-color: #93a08a;
            border-radius: 30px;
            transition: all 2s;
        }
    }
}

.contenedor_velas3 {
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;

    h3 {
        display: flex;
        justify-content: center;
        color: #0a141d;
        font-size: 20px;
        margin: 10px;

    }

    p {
        display: flex;
        justify-content: space-around;
        color: #0a141d;
        font-size: 18px;
        padding: 5px;
    }
    &_huevo {
        background-color: #49443c;
        margin: 10px;
        &:hover {
            transform: scale(1.2);
            background-color: #93a08a;
            border-radius: 30px;
            transition: all 2s;
        }
    }
    &_madera {
        background-color: #49443c;
        margin: 10px;
        &:hover {
            transform: scale(1.2);
            background-color: #93a08a;
            border-radius: 30px;
            transition: all 2s;
        }
    }
    &_elefante {
        background-color: #49443c;
        margin: 10px;
        &:hover {
            transform: scale(1.2);
            background-color: #93a08a;
            border-radius: 30px;
            transition: all 2s;
        }
    }
}


.pagination {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding-bottom: 20px;
}
}