/* PAGINA VELAS */
.fondo_velas {
    background-image: url(../img/imagenes-index/fondoindex.jpeg);
    background-repeat: repeat;
    background-size: 1460px 820px;

}

.velas_titulo {
    text-align: center;
    color: $light;
}

.imagen_encabezado_velas {
    display: flex;
    justify-content: center;
}

.contenedor_velas1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.card {
    margin: 20px;
}

.contenedor_velas2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.contenedor_velas3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}




.pagination {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding-bottom: 20px;
}

@media (min-width:768px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .imagen_encabezado_velas {
        display: flex;
        justify-content: center;
    }

    .fondo_velas {
        background-image: url(../img/imagenes-index/fondoindex.jpeg);
        background-repeat: repeat;
        background-size: 1460px 820px;

    }

    .velas_titulo {
        text-align: center;
        color: $light;
    }

    .contenedor_velas1 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 50px;


    }

    .contenedor_velas2 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 50px;

    }

    .contenedor_velas3 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 50px;

    }
}



.pagination {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding-bottom: 20px;
}