.fondo_velas{
    background-image: url(../img/imagenes-index/fondoindex.jpeg);
background-repeat: repeat;
background-size: 1460px 820px;

}
    .velas_titulo{
text-align: center;
color: $light;
    }
    
    .contenedor_velas4{
        display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    &_card1{
        margin: 10px;
        
    }
    &_card2{
        margin: 10px;
        
    }
    &_card3{
        margin: 10px;
       
    }
    }

    .contenedor_velas5{
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;

    }





@media (min-width:768px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .imagen_encabezado_velas{
        display: flex;
    justify-content: center;
    }

.fondo_velas{
    background-image: url(../img/imagenes-index/fondoindex.jpeg);
background-repeat: repeat;
background-size: 1460px 820px;

}
    .velas_titulo{
text-align: center;
color: $light;
    }
    
    .contenedor_velas4{
        display: flex;
        flex-direction:row;
        justify-content: space-around;
        margin-bottom: 50px;
        

    }

    .contenedor_velas5{
        display: flex;
        flex-direction:row;
        justify-content: space-around;
        

    }



}
